In [1]:
# importing the required libraries
import pandas as pd
import numpy as np

In [15]:
# Load the dataset from the provided sample.csv file
file_path = "sample.xlsx"
df = pd.read_excel(file_path, sheet_name='Sheet1')
print(df)

                                    name  year  selling_price  km_driven  \
0                 Maruti Swift Dzire VDI  2014         450000     145500
1           Skoda Rapid 1.5 TDI Ambition  2014         370000     120000
2               Honda City 2017-2020 EXi  2006         158000     140000
3              Hyundai i20 Sportz Diesel  2010         225000     127000
4                 Maruti Swift VXI BSIII  2007         130000     120000
5          Hyundai Xcent 1.2 VTVT E Plus  2017         440000      45000
6           Maruti Wagon R LXI DUO BSIII  2007          96000     175000
7                     Maruti 800 DX BSII  2001          45000       5000
8                       Toyota Etios VXD  2011         350000      90000
9   Ford Figo Diesel Celebration Edition  2013         200000     169000
10       Renault Duster 110PS Diesel RxL  2014         500000      68000
11                         Maruti Zen LX  2005          92000     100000
12                Maruti Swift Dzire VDi  2009         280000     140000
13                  Maruti Swift 1.3 VXi  2007         200000      80000
14              Maruti Wagon R LXI Minor  2009         180000      90000
15  Mahindra KUV 100 mFALCON G80 K8 5str  2016         400000      40000
16                Maruti Ertiga SHVS VDI  2016         778000      70000
17             Hyundai i20 1.4 CRDi Asta  2012         500000      53000
18                        Maruti Alto LX  2002         150000      80000

      fuel seller_type transmission         owner  mileage(km/ltr/kg)  engine  \
0   Diesel  Individual       Manual   First Owner               23.40  1248.0
1   Diesel  Individual       Manual  Second Owner               21.14  1498.0
2   Petrol  Individual       Manual   Third Owner               17.70  1497.0
3   Diesel  Individual       Manual   First Owner               23.00  1396.0
4   Petrol  Individual       Manual   First Owner               16.10  1298.0
5   Petrol  Individual       Manual   First Owner               20.14  1197.0
6      LPG  Individual       Manual   First Owner               17.30  1061.0
7   Petrol  Individual       Manual  Second Owner               16.10   796.0
8   Diesel  Individual       Manual   First Owner               23.59  1364.0
9   Diesel  Individual       Manual   First Owner               20.00  1399.0
10  Diesel  Individual       Manual  Second Owner               19.01  1461.0
11  Petrol  Individual       Manual  Second Owner               17.30   993.0
12  Diesel  Individual       Manual  Second Owner               19.30  1248.0
13  Petrol  Individual       Manual  Second Owner                 NaN     NaN
14  Petrol  Individual       Manual  Second Owner               18.90  1061.0
15  Petrol  Individual       Manual   First Owner               18.15  1198.0
16  Diesel  Individual       Manual  Second Owner               24.52  1248.0
17  Diesel  Individual       Manual  Second Owner               23.00  1396.0
18  Petrol  Individual       Manual  Second Owner               19.70   796.0

    max_power  seats
0       74.00    5.0
1      103.52    5.0
2       78.00    5.0
3       90.00    5.0
4       88.20    5.0
5       81.86    5.0
6       57.50    5.0
7       37.00    4.0
8       67.10    5.0
9       68.10    5.0
10     108.45    5.0
11      60.00    5.0
12      73.90    5.0
13        NaN    NaN
14      67.00    5.0
15      82.00    5.0
16      88.50    7.0
17      90.00    5.0
18      46.30    5.0

In [18]:
### 1. Handling Missing Values ###
# Fill missing numerical values with median to avoid bias from extreme values
df['mileage(km/ltr/kg)'].fillna(df['mileage(km/ltr/kg)'].median())
df['engine'].fillna(df['engine'].median())
df['seats'].fillna(df['seats'].median())

0     5.0
1     5.0
2     5.0
3     5.0
4     5.0
5     5.0
6     5.0
7     4.0
8     5.0
9     5.0
10    5.0
11    5.0
12    5.0
13    5.0
14    5.0
15    5.0
16    7.0
17    5.0
18    5.0
Name: seats, dtype: float64

In [19]:
# Convert 'max_power' from object to numeric, coercing errors to NaN if any non-numeric values exist
df['max_power'] = pd.to_numeric(df['max_power'], errors='coerce')

In [21]:
# Fill missing values in 'max_power' with the median value
df['max_power'].fillna(df['max_power'].median())

0      74.00
1     103.52
2      78.00
3      90.00
4      88.20
5      81.86
6      57.50
7      37.00
8      67.10
9      68.10
10    108.45
11     60.00
12     73.90
13     76.00
14     67.00
15     82.00
16     88.50
17     90.00
18     46.30
Name: max_power, dtype: float64

In [22]:
### 2. Removing Duplicates ###
# Drop duplicate rows to ensure data consistency
df.drop_duplicates(inplace=True)

In [23]:
### 3. Handling Outliers using the IQR Method ###
def remove_outliers(df, column):
    """
    Removes outliers from the given column using the Interquartile Range (IQR) method.
    Any value outside 1.5 * IQR from Q1 and Q3 is considered an outlier.
    """
    Q1 = df[column].quantile(0.25)  # First quartile (25th percentile)
    Q3 = df[column].quantile(0.75)  # Third quartile (75th percentile)
    IQR = Q3 - Q1  # Interquartile range
    lower_bound = Q1 - 1.5 * IQR  # Lower bound for outliers
    upper_bound = Q3 + 1.5 * IQR  # Upper bound for outliers
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]  # Remove outliers

# Apply outlier removal to numerical columns
for col in ['selling_price', 'km_driven', 'mileage(km/ltr/kg)', 'engine', 'max_power']:
    df = remove_outliers(df, col)

### 4. Encoding Categorical Data ###
# Convert categorical columns into numeric format using One-Hot Encoding
# 'drop_first=True' avoids dummy variable trap by removing one category per feature
df = pd.get_dummies(df, columns=['fuel', 'seller_type', 'transmission', 'owner'], drop_first=True)

In [24]:
print(df)

                                    name  year  selling_price  km_driven  \
0                 Maruti Swift Dzire VDI  2014         450000     145500
1           Skoda Rapid 1.5 TDI Ambition  2014         370000     120000
2               Honda City 2017-2020 EXi  2006         158000     140000
3              Hyundai i20 Sportz Diesel  2010         225000     127000
4                 Maruti Swift VXI BSIII  2007         130000     120000
5          Hyundai Xcent 1.2 VTVT E Plus  2017         440000      45000
6           Maruti Wagon R LXI DUO BSIII  2007          96000     175000
7                     Maruti 800 DX BSII  2001          45000       5000
8                       Toyota Etios VXD  2011         350000      90000
9   Ford Figo Diesel Celebration Edition  2013         200000     169000
10       Renault Duster 110PS Diesel RxL  2014         500000      68000
11                         Maruti Zen LX  2005          92000     100000
12                Maruti Swift Dzire VDi  2009         280000     140000
13                  Maruti Swift 1.3 VXi  2007         200000      80000
14              Maruti Wagon R LXI Minor  2009         180000      90000
15  Mahindra KUV 100 mFALCON G80 K8 5str  2016         400000      40000
16                Maruti Ertiga SHVS VDI  2016         778000      70000
17             Hyundai i20 1.4 CRDi Asta  2012         500000      53000
18                        Maruti Alto LX  2002         150000      80000

    mileage(km/ltr/kg)  engine  max_power  seats  fuel_LPG  fuel_Petrol  \
0                23.40  1248.0      74.00    5.0     False        False
1                21.14  1498.0     103.52    5.0     False        False
2                17.70  1497.0      78.00    5.0     False         True
3                23.00  1396.0      90.00    5.0     False        False
4                16.10  1298.0      88.20    5.0     False         True
5                20.14  1197.0      81.86    5.0     False         True
6                17.30  1061.0      57.50    5.0      True        False
7                16.10   796.0      37.00    4.0     False         True
8                23.59  1364.0      67.10    5.0     False        False
9                20.00  1399.0      68.10    5.0     False        False
10               19.01  1461.0     108.45    5.0     False        False
11               17.30   993.0      60.00    5.0     False         True
12               19.30  1248.0      73.90    5.0     False        False
13               19.50  1248.0      76.00    5.0     False         True
14               18.90  1061.0      67.00    5.0     False         True
15               18.15  1198.0      82.00    5.0     False         True
16               24.52  1248.0      88.50    7.0     False        False
17               23.00  1396.0      90.00    5.0     False        False
18               19.70   796.0      46.30    5.0     False         True

    owner_Second Owner  owner_Third Owner
0                False              False
1                 True              False
2                False               True
3                False              False
4                False              False
5                False              False
6                False              False
7                 True              False
8                False              False
9                False              False
10                True              False
11                True              False
12                True              False
13                True              False
14                True              False
15               False              False
16                True              False
17                True              False
18                True              False

In [27]:
### 5. Save Processed Dataset ###
# Save the cleaned and preprocessed dataset as a CSV file
df.to_csv("C:/Users/Admin/Desktop/tybsc D98/Cars-Recommendation-System/processed_sample.csv", index=False)

print("✅ Data preprocessing completed. Cleaned dataset saved as 'processed_Cardekho_Dataset.csv'.")

✅ Data preprocessing completed. Cleaned dataset saved as 'processed_Cardekho_Dataset.csv'.